li:hover {
	cursor: move;
}

#items li{
	height: 320px;
	margin: 3px;
}

img{
	max-height: 320px;
	max-width: 320px;
}

#container{
	display: inline-block;
}

#buttons {
	margin: 5px 0;
	text-align:center;
}

#form {
	display: inline-block;
}